body {
    margin: 0;
    height: 100vh;
    background-color: #f3f3f3;
    color: white;
    font-family: 'Metamorphous', Arial, sans-serif;
    background:
        /* top, transparent red, faked with gradient */
        linear-gradient(rgba(170, 170, 170, 0.1),
        rgba(170, 170, 170, 0.1)),
        url('/images/market.jpg');
    background-size: cover;
}

.container {
    display: flex;
    height: 100%;
}

.firstplayer,
.secondplayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    /* border: 1px solid black; */
}

.firstplayer {
    background-color: none;
}

.secondplayer {
    background-color: none;
}

.playertitle {
    font-size: 3rem;
}

.caravancard {
    height: 20%;
    width: 50%;
    background-color: #7f8084;
    opacity: 0.6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    /* border: 1px solid black; */
}

.modalcontainer {
    height: 40%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.citymodal,
.conversioncardmodal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70%;
    width: 30%;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0)
}

.citymodal:hover,
.conversioncardmodal:hover {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

.citymodal {
    background-color: #afb2b7;
    background-image: url('/images/cityback.png');
    background-size: cover;
}

.conversioncardmodal {
    background-color: #afb2b7;
    background-image: url('/images/factoryback.png');
    background-size: cover;
}

.cityContainer,
.factoryContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #7f8084;
    height: 20%;
    width: 80%;
    border-radius: 10px;
    color: white;
    opacity: 0.6;
}

.cityCard {
    height: 60%;
    width: 12%;
    margin: 2px 2px;
    background-color: black;
    color: white;
}

.newSpice {
    height: 70%;
    width: 20%;
    margin: 2px 2px;
    font: white;
}