body {
    margin: 0;
    height: 100vh;
    background-color: #f3f3f3;
    color: rgb(236, 234, 228);
    font-family: 'Metamorphous', Arial, sans-serif;
    background:
        linear-gradient(rgba(170, 170, 170, 0.1),
        rgba(170, 170, 170, 0.1)),
        url('images/market.jpg');
    background-size: cover;
}

.container {
    display: flex;
    height: 100%;
}

.firstplayer,
.secondplayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.firstplayer {
    background-color: none;
}

.secondplayer {
    background-color: none;
}

.playertitle {
    font-size: 3rem;
}

.caravancard {
    height: 20%;
    width: 60%;
    background-color: #7f8084;
    opacity: 0.6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 3rem;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

.modalcontainer {
    height: 40%;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.citymodal,
.conversioncardmodal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 1;
    height: 70%;
    width: 30%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    color: rgba(255, 255, 255, 0)
}
.playertitle:hover,
.citymodal:hover,
.conversioncardmodal:hover {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

.citymodal {
    background-image: url('images/cityback.png');
}

.conversioncardmodal {
    background-image: url('images/factoryback.png');
}

.cityContainer,
.factoryContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #7f8084;
    height: 80%;
    width: 18%;
    top:10%;
    color: white;
    opacity: 0.6;
    margin: 5% 0;
    
}

.cityContainer {
    border-radius: 10px 0 0 10px;

}

.factoryContainer{
    border-radius: 0 10px 10px 0;
}
.cityCard {
    height: 15%;
    width: 70%;
    margin: 2px 2px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.factoryCard {
    height: 12%;
    width: 70%;
    margin: 2px 2px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.newSpice {
    height: 70%;
    width: 30%;
    margin: 2px 2px;
    font: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newSpice:hover,
.cityCard:hover,
.factoryCard:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


a {
    color: white;
    text-decoration: none;
}

.modal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
}

.cityCard:hover,
.factoryCard:hover {
    font-size: 1em;
}

.cityCard,
.factoryCard {
    font-size: 0;
}

.colorValue{
    width:100%;
    height:25%;
    color: white;
    font-size: 40%;
}

.modalCard {
    height: 150px;
    width: 100px;
    background-color: black;
    border-radius: 10px;
}
.glow {
    color: whitesmoke;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.directionsLink {
    /* background-image: url(images/directions.png);
    background-size: 5%;
    background-position: contain;
    background-repeat: none; */
    position: absolute;
    height:5%;
    width: 5%;
    right:3%;
    bottom: 0;
}
/*webkit specifies browser support, keyframes specifies animation changes from (0%) one set of styles to(100%) another, glow is the element its bound to*/
/* text shadow graduates a blur radius in the given color from 10px-70px */
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #dde140, 0 0 25px #4dcc76, 0 0 30px #08cc22, 0 0 40px #08cc22, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #4dcc76, 0 0 50px #4dcc76, 0 0 60px #4dcc76, 0 0 70px #08cc22, 0 0 80px #089c1a;
    }
}